h1 {
    background-color: rgb(223, 153, 50);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 30px;
}

a {
    color: rgb(0, 0, 0);
    font-size: 60px;
}

body {
	background: linear-gradient(-45deg, #d7da4b, #e68021, #ce3131, #dd480e);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}