h1 {
    background-color: rgba(0, 0, 0, 0.082);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 120px;
	width: fit-content;
	height: fit-content;
	margin: auto;
	margin-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

a {
    color: rgb(0, 0, 0);
    font-size: 80px;
}

body {
	background: linear-gradient(-45deg, #d7da4b, #e68021, #ce3131, #dd480e);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}